header {
    position: fixed;
    width: 100vw;
    max-width: 1920px !important;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 37px 100px 37px 100px;
    background-color: #141D2F;
    z-index: 999;
    >img {
        height: 50px;
    }
}

.language-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.separator{
    width: 4px;
    height: 20px;
    background-color: #9747FF;
}

a {
    text-decoration: none;

    &:hover {
        color: #70E61C;
    }
}

.nav-links {
    display: flex;
    gap: 20px;
}
.focused{
    border-bottom: 3px solid #9747FF;
        padding-bottom: 1px;
        border-radius: 2px;
        color: #70E61C;
}

.activeLanguage{
    color: #70E61C;
    font-weight: 700;
}