<header>

    <img src="../../assets/img/design-components/logo.png" alt="logo">
   
    <div class="nav-links">
       <a (click)="FocusEffectActive(1)" [ngClass]="{'focused': focusEffect === 1}" href="#about_me">{{'navigation.aboutme' | translate}}</a>
       <a (click)="FocusEffectActive(2)" [ngClass]="{'focused': focusEffect === 2}" href="#my_skills">Skills</a>
       <a (click)="FocusEffectActive(3)" [ngClass]="{'focused': focusEffect === 3}" href="#portfolio">Portfolio</a>
       <div class="language-container">
        <a (click)="setLanguage('en', 1)" [ngClass]="{'activeLanguage': activeLang === 1}" style="cursor: pointer;">EN</a>
        <div class="separator"></div>
        <a (click)="setLanguage('de', 2)" [ngClass]="{'activeLanguage': activeLang === 2}" style="cursor: pointer;">DE</a>
       </div>  
    </div>

    <app-burger-menu class="burger-menu"></app-burger-menu>

    <div [ngClass]="">

    </div>
    
</header>
