
footer{
    width: 100%;
    height: 291px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    border-top: 4px solid #70E61C;
    p{
        font-size: 23px;
    }
}

.logo-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-top: 35px;
    img{
        height: 60px;
        object-fit: contain;
        cursor: pointer;
    }
}

.impressum-mobile{
    display: none;
    text-decoration: none;
    bottom: 15px;
        &:hover {
            color: #70E61C;
        }
}

.impressum{
    position: absolute;
    text-decoration: none;
    bottom: 15px;
        &:hover {
            color: #70E61C;
        }
}

.links-container{
    display: flex;
    gap: 42px;
    a{
        transition: transform .2s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

@media (max-width: 1000px) {
    .links-container{
        gap: 30px;
    }
}

@media (max-width: 855px) {
    footer[_ngcontent-ng-c3509895746] {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            margin-block-start: 0;
            margin-block-end: 0;
        }
        gap: 30px;
        height: 350px;
    }

    .logo-container[_ngcontent-ng-c3509895746] {
        padding-top: 0px;
        height: 50px;
    }

    .impressum{
        display: none;
    }
    
    .impressum-mobile{
        display: flex;
    }
}