<footer>
    <div class="logo-container">
        <a href="#above_the_fold"><img src="../../assets/img/design-components/logo.png" alt=""></a>
        <a class="impressum" href="impressum">Impressum</a>
    </div>

    <p>© Mark Hegedus 2024</p>

    <div class="links-container">
        <a href="https://github.com/hegedusmark23" target="_blank"><img src="../../assets/img/design-components/github-logo.png" alt=""></a>
        <a href="mailto:hegeee23@hotmail.com" target="_blank"><img src="../../assets/img/design-components/email-logo.png" alt=""></a>
        <a href="https://www.linkedin.com/in/m%C3%A1rk-heged%C5%B1s-042057294/" target="_blank"><img src="../../assets/img/design-components/linkedin-logo.png" alt=""></a>
    </div>

    <a class="impressum-mobile" href="impressum">Impressum</a>
</footer>
