<section id="about_me"  class="about-me">

    <div class="social-links-section">
        <div class="purple-line"></div>
        <a class="social-logos" href="https://github.com/hegedusmark23" target="_blank"><img
                src="../../assets/img/design-components/github-logo.png" alt="github"></a>
        <a class="social-logos" href="mailto:mail@mark-hegedus.com" target="_blank"><img
                src="../../assets/img/design-components/email-logo.png" alt="email"></a>
        <a class="social-logos" href="https://www.linkedin.com/in/m%C3%A1rk-heged%C5%B1s-042057294/"
            target="_blank"><img src="../../assets/img/design-components/linkedin-logo.png" alt="linkedin"></a>
        <a class="mail" href="mailto:mail@mark-hegedus.com" target="_blank">mail&#64;mark-hegedus.com</a>
    </div>

    <div>
        <div class="about-me-section">
            <div data-aos="fade-right" class="text-section">
                <h1>{{"aboutMe.headline" | translate}}</h1>
                <p>{{"aboutMe.text1" | translate}}</p>
                <div>
                    <div class="sub-text-section">
                        <img src="../../assets/img/design-components/green-lightbulb.png" alt="lightbulb">
                        <p>{{"aboutMe.text2" | translate}}</p>
                    </div>
                    <div class="sub-text-section">
                        <img src="../../assets/img/design-components/green-puzzle.png" alt="puzzle">
                        <p>{{"aboutMe.text3" | translate}}</p>
                    </div>
                </div>
            </div>


            <div class="portrait-container">
                <img class="portrait" src="../../assets/img/design-components/test2.png" alt="">
                <div class="green-line"></div>
            </div>
        </div>
        <img class="purple-shadow" src="../../assets/img/design-components/purple-shadow.png" alt="">
    </div>

</section>