.about-me {
    height: 100vh;
    width: 100%;
    max-width: 1440px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    flex-direction: column;
    padding-top: 100px;
}

.social-links-section {
    display: flex;
    align-items: center;
    z-index: 7;
    gap: 42px;

    >img {
        height: 32px;

    }
}

.about-me-section {
    z-index: 4;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-logos {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }
}

.mail {
    text-decoration: none;
    font-size: 23px;
}

.purple-line {
    width: 100px;
    height: 4px;
    border-radius: 4px;
    background-color: #9747FF;
}

.shadow-wrapper {
    position: absolute;
    right: -406px;
    top: 0;
}

.purple-shadow {
    position: relative;
}

.portrait-container {
    display: flex;
    align-items: center;
    z-index: 5;
}

.portrait {
    height: 504px;
    border-radius: 50%;
    border: 4px solid #70E61C;
}

.green-line {
    width: 167px;
    height: 4px;
    background-color: #70E61C;
}

.text-section {
    padding-left: 100px;
    max-width: 500px;
    z-index: 999;

    >h1 {
        font-size: 90px;
        font-weight: bold;
        line-height: 108px;
        margin-block-start: 50px;
        margin-block-end: 0;
    }
}

.sub-text-section {
    display: flex;
    align-items: center;
    gap: 10px;

    >img {
        height: 50px;
    }
}

@media (max-width:1570px) {
    .portrait {
        height: 404px;
    }

    .green-line {
        width: 250px;
    }
}

@media (max-width:1300px) {
    .portrait {
        height: 304px;
    }

    .green-line {
        width: 100px;
    }
}

@media (max-width: 1000px) {
    .portrait-container {
        display: none;
    }

    .about-me-section {
        justify-content: center;
    }

    .mail {
        display: none;
    }

    .text-section {
        padding-left: 0px;
    }
}

@media (max-width: 650px) {
    .text-section {
        max-width: 400px;
    }

    .text-section {
        h1 {
            font-size: 50px;
        }

    }

    .text-section {
        p {
            font-size: 16px;
        }

    }

    .sub-text-section {
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 480px) {
    .social-links-section {
        img {
            height: 28px;
        }
    }

    .purple-line {
        width: 70px;
    }
}

@media (max-width: 430px) {
    .text-section {
        padding: 0 20px;
        h1 {
            font-size: 45px;
        }

        p {
            font-size: 13px;
        }

    }

    .sub-text-section {
        p {
            font-size: 13px;
        }
    }
}

@media (max-width: 370px) {
    .social-links-section{
        gap: 30px;
    }

    .purple-line {
        width: 40px;
    }
}