<section  class="about-me">

    <div class="social-links-section">
        <div class="purple-line"></div>
        <a class="social-logos" href="https://github.com/hegedusmark23" target="_blank"><img
                src="../../assets/img/design-components/github-logo.png" alt="github"></a>
        <a class="social-logos" href="mailto:hegeee23@hotmail.com" target="_blank"><img
                src="../../assets/img/design-components/email-logo.png" alt="email"></a>
        <a class="social-logos" href="https://www.linkedin.com/in/m%C3%A1rk-heged%C5%B1s-042057294/"
            target="_blank"><img src="../../assets/img/design-components/linkedin-logo.png" alt="linkedin"></a>
        <a class="mail" href="mailto:hegeee23@hotmail.com" target="_blank">hegeee23&#64;hotmail.com</a>
    </div>

    <div id="about_me">
        <div  class="about-me-section">
            <div data-aos="fade-right" class="text-section">
                <h1>{{"aboutMe.headline" | translate}}</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste exercitationem veritatis ab
                    possimus
                    eius
                    odit reiciendis cumque accusamus asperiores amet, voluptate quidem, earum at delectus, odio nostrum
                    sunt
                    voluptatibus.</p>
                <div>
                    <div class="sub-text-section">
                        <img src="../../assets/img/design-components/green-lightbulb.png" alt="lightbulb">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste exercitationem veritatis
                            ab
                            possimus eius
                            odit reiciendis cumque accusamus asperiores amet, voluptate quidem, earum at delectus, odio
                            nostrum sunt
                            voluptatibus.</p>
                    </div>
                    <div class="sub-text-section">
                        <img src="../../assets/img/design-components/green-puzzle.png" alt="puzzle">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste exercitationem veritatis
                            ab
                            possimus eius
                            odit reiciendis cumque accusamus asperiores amet, voluptate quidem, earum at delectus, odio
                            nostrum sunt
                            voluptatibus.</p>
                    </div>
                </div>
            </div>


            <div class="portrait-container">
                <img class="portrait" src="../../assets/img/design-components/test2.png" alt="">
                <div class="green-line"></div>
            </div>
        </div>
        <img class="purple-shadow" src="../../assets/img/design-components/purple-shadow.png" alt="">
    </div>

</section>