<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

    <div style="position: relative;">
        <input #name="ngModel" [(ngModel)]="contactData.name" class="input-thin input-container input-design"
            placeholder="{{'contactForm.placeholderName' | translate}}" type="text" style="color:white;" name="name" required
            [ngClass]="{'input-error': !name.valid && name.touched, 'input-correct': name.valid}">
        <img *ngIf="!name.valid && name.touched" class="input-icon" src="../../assets/img/design-components/red-error.png" alt="error">
        <img *ngIf="name.valid && name.touched" class="input-icon" src="../../assets/img/design-components/green-check.png" alt="correct">    
        <span *ngIf="!name.valid && name.touched" class="error-message">{{'contactForm.errorName' | translate}}</span>
    </div>

    <div style="position: relative;">
        <input #email="ngModel" [(ngModel)]="contactData.email" class="input-thin input-container input-design"
            placeholder="{{'contactForm.placeholderEmail' | translate}}" type="email" name="email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            [ngClass]="{'input-error': !email.valid && email.touched, 'input-correct': email.valid}">
            <img *ngIf="!email.valid && email.touched" class="input-icon" src="../../assets/img/design-components/red-error.png" alt="error">
            <img *ngIf="email.valid && email.touched" class="input-icon" src="../../assets/img/design-components/green-check.png" alt="correct">   
        <span *ngIf="!email.valid && email.touched" class="error-message">{{'contactForm.errorEmail' | translate}}</span>
    </div>

    <div style="position: relative;">
        <textarea [minlength]="2" #message="ngModel" [(ngModel)]="contactData.message" placeholder="{{'contactForm.placeholderMessage' | translate}}"
            class="input-thick input-container input-design padding" name="message" id="" required
            [ngClass]="{'input-error': !message.valid && message.touched, 'input-correct': message.valid}"></textarea>
            <img *ngIf="!message.valid && message.touched" class="input-icon" src="../../assets/img/design-components/red-error.png" alt="error">
            <img *ngIf="message.valid && message.touched" class="input-icon" src="../../assets/img/design-components/green-check.png" alt="correct">  
        <span *ngIf="!message.valid && message.touched" class="error-message">{{'contactForm.errorMessage' | translate}}</span>
    </div>

    <div class="input-container">
        <div class="privacyP-container">
            <img [src]="imgSrcCheck" (click)="toggleCheck()" alt="checkbox">
            <p>{{"contactForm.privacyPolicy1" | translate}} <a href="">{{"contactForm.link" | translate}}</a> {{"contactForm.privacyPolicy2" | translate}}
            </p>
        </div>
        <span *ngIf="message.touched && !this.isClicked" class="error-message">{{'contactForm.errorPolicy' | translate}}</span>
    </div>

    <div class="submit-container">
       <span data-aos="fade-left" *ngIf="this.submitted" class="succesful-message">Message sent.</span>

        <button [ngClass]="{'abled-submit': contactForm.valid && isClicked, 'disabled-submit': !contactForm.valid || !isClicked}"
         [disabled]="!contactForm.valid || !isClicked">{{'contactForm.button' | translate}}</button>  
    </div>

   

</form>