form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 617px;
}

.padding::-webkit-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; }
 
 .padding::-moz-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }
 
 .padding:-moz-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }
 
 .padding:-ms-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }

.privacyP-container {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        cursor: pointer;
    }

    p {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: #9747FF;

        &:hover {
            text-decoration: underline;
        }
    }
}

.input-design {
    outline: 2px solid #9747FF;
    border-radius: 12px;
    background-color: #141D2F;
    color: #ffff !important;
    max-width: 617px;
    width: 617px;
    cursor: pointer;
    text-indent: 10px;
    border-style: hidden;
    font-size: 16px;

    &:hover {
        outline: 2px solid #70E61C;
    }
}

.input-error {
    outline: 2px solid red;
}

.input-correct {
    outline: 2px solid #70E61C;
}

.abled-submit {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #70E61C;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: #9747FF;
        transform: scale(1.2);
    }
}

.disabled-submit {
    padding: 15px 30px 15px 30px;
    background-color: gray;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

.error-message {
    margin-block-start: 0;
    margin-block-end: 0;
    color: red;
    font-size: 14px;
}

.succesful-message{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #70E61C;
    font-size: 14px;
}

.input-thin {
    height: 50px;
}

.input-thick {
    height: 202px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.input-icon {
    position: absolute;
    right: 25px;
    top: 14px
}

.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}