form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 617px;
    padding-bottom: 100px;
}

.padding::-webkit-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
}
 
 .padding::-moz-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }
 
 .padding:-moz-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }
 
 .padding:-ms-input-placeholder {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Poppins'; 
 }

.privacyP-container {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        cursor: pointer;
    }

    p {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: #70E61C;

        &:hover {
            text-decoration: underline;
        }
    }
}

.input-design {
    outline: 2px solid #9747FF;
    border-radius: 12px;
    background-color: #141D2F;
    color: #ffff !important;
    max-width: 617px;
    width: 617px;
    cursor: pointer;
    text-indent: 10px;
    border-style: hidden;
    font-size: 16px;

    &:hover {
        outline: 2px solid #70E61C;
    }
}

.input-error {
    outline: 2px solid red;
}

.input-correct {
    outline: 2px solid #70E61C;
}

.abled-submit {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #70E61C;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: #9747FF;
        transform: scale(1.2);
    }
}

.disabled-submit {
    padding: 15px 30px 15px 30px;
    background-color: gray;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

.error-message {
    margin-block-start: 0;
    margin-block-end: 0;
    color: red;
    font-size: 14px;
}

.succesful-message{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #70E61C;
    font-size: 14px;
}

.input-thin {
    height: 50px;
}

.input-thick {
    height: 202px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.input-icon {
    position: absolute;
    right: 25px;
    top: 14px
}

.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1350px) {
    .input-design[_ngcontent-ng-c1679057741] {
        max-width: 517px;
        width: 517px !important;
    }
}

@media (max-width: 600px) {

    .input-design[_ngcontent-ng-c1679057741] {
        max-width: 417px;
        width: 417px !important;
    }

    .privacyP-container[_ngcontent-ng-c1679057741] {
        width: 400px !important;
        p{
            font-size: 12px !important;
        }
    }

    .disabled-submit[_ngcontent-ng-c1679057741] {
        padding: 10px 25px 10px 25px;
        font-size: 18px;
    }

    .abled-submit[_ngcontent-ng-c1679057741] {
        padding: 10px 25px 10px 25px;
        font-size: 18px;
    }
}

@media (max-width: 530px) {

    .input-design[_ngcontent-ng-c1679057741] {
        max-width: 317px;
        width: 317px !important;
        font-size: 13px !important;
    }

    .input-icon[_ngcontent-ng-c1679057741] {
        right: 7px;
        top: 5px;
        height: 20px;
    }

    .padding::-webkit-input-placeholder {
        font-size: 13px; 
    }

    .input-thin[_ngcontent-ng-c1679057741] {
        height: 30px;
    }

    .privacyP-container[_ngcontent-ng-c1679057741] {
        width: 317px !important;
        p{
            font-size: 12px !important;
        }
    }
}

@media (max-width: 370px) {

    .input-design[_ngcontent-ng-c1679057741] {
        max-width: 280px;
        width: 280px !important;
        font-size: 13px !important;
    }

    .input-icon[_ngcontent-ng-c1679057741] {
        right: 7px;
        top: 3px;
        height: 16px;
    }

    .padding::-webkit-input-placeholder {
        font-size: 13px; 
    }

    .input-thin[_ngcontent-ng-c1679057741] {
        height: 20px;
    }

    .privacyP-container[_ngcontent-ng-c1679057741] {
        width: 280px !important;
        p{
            font-size: 12px !important;
        }
    }

}
