<section class="above-the-fold">
    <app-header></app-header>

    <div class="atf-content">
        <div>
            <img class="self-portrait" src="../../assets/img/design-components/test.png" alt="">
            <img class="purp-green-clouds" src="../../assets/img/design-components/photo_shadows.png" alt="">
        </div>

        <div class="text-container">
            <div>
                <div>
                    <p>i am</p>
                </div>
                <div>
                    <h1>Mark Hegedüs</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button>Lets talk!</button>
        </div>


    </div>
    <img class="separator" src="../../assets/img/design-components/separator.png" alt="">
</section>