.above-the-fold {
    height: 100vh;
    background-color: #141D2F;
}


.separator {
    width: 100vw;
    position: absolute;
    top: 300px;
    z-index: 2;
}

.atf-content {
    display: flex;
    
}

.atf-text-container{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 297px;
    left: 900px;
    z-index: 999;
    gap: 0px;
}

.atf-inner-text-container{
    display: flex;
    align-items: center;
}

h1{
    font-size: 90px;
    font-weight: bold;
}

h2{
    font-size: 61px;
    color: #9747FF;
}

.introduction-text{
    font-size:  64px;
    transform: rotate(-90deg);
}

p,h1,h2{
    margin-block-start: 0;
    margin-block-end: 0;
}

.self-portrait{
    height: 800px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    left: 200px;
    top: 200px;
}

.purp-green-clouds{
    height: 1000px;
    position: relative;
    z-index: 0;
}

.scroll-down-text{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 4;
    top: 873px;
    right: 100px;
    gap: 10px;
    transform: rotate(+90deg);
    >p{
        font-size: 23px;
        padding-right: 10px;
    }
    >img{
        height: 16px;
        width: 16px;
        object-fit: cover;
    };
}

