.above-the-fold {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.content-wrapper{
    position: relative;
    max-width: 1440px;
    height: 100vh;
    width: 100%;
}


.separator {
    width: 100%;
    left: 0;
    position: absolute;
    top: 320px;
    z-index: 2;
}

.atf-content {
    display: flex;

}

.atf-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    white-space: nowrap;
    z-index: 998;
    position: absolute;
    top: 278px;
    right: 132px;

}

.atf-inner-text-container {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 61px;
    font-weight: 400;
    color: #9747FF;
    border-right: 0.15em solid #9747FF;
    animation: blink 0.75s step-end infinite;
    width: max-content;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #9747FF;
    }
}

.introduction-text {
    font-size: 64px;
    transform: rotate(-90deg);
}

p,
h1,
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.self-portrait {
    height: 1000px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 50px;
}

.purp-green-clouds {
    height: 1000px;
    position: absolute;
    z-index: 0;
    top: 200px;
    left: -100px;
}

.scroll-down-text {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 4;
    top: 873px;
    right: 100px;
    gap: 10px;
    transform: rotate(+90deg);
    animation: mymove 2s infinite;

    >p {
        font-size: 23px;
        padding-right: 10px;
    }

    >img {
        height: 16px;
        width: 16px;
        object-fit: cover;
    }
}

@keyframes mymove {
    0% {
        top: 873px;
    }

    25% {
        top: 943px;
    }

    75% {
        top: 923px
    }

    100% {
        top: 873px;
    }
}

@media (max-width:1570px) {
    .atf-text-container {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 45px;
        }

        p {
            font-size: 44px;
        }
    }
}

@media (max-width: 1440px) {
    .above-the-fold{
        position: relative;
    }
}

@media (max-width:1400px) {
    .atf-text-container {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 34px;
        }
    }

    .self-portrait {
        height: 600px;
        top: 139px;
        left: 120px;
    }

    .purp-green-clouds {
        height: 800px;
    }
}

@media (max-width:1100px) {

    .self-portrait {
        height: 600px;
        left: 50px;
        top: 90px;
    }

    .purp-green-clouds {
        height: 800px;
        position: relative;
        top: -80px;
        left: -200px;
    }
}

@media (max-width:1000px) {
    .atf-text-container {
        top: 750px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroll-down-text {
        display: none;
    }

    .self-portrait {
        transform: translate(0%, 0%);
        top: 90px;
    }

    .purp-green-clouds {
        top: 0px;
        left: 0px;
    }
}

@media (max-width:920px) {

    .atf-text-container {
        top: 700px;
    }

    .self-portrait {
        height: 600px;
        left: 160px;
        top: 110px;
    }

    .purp-green-clouds {
        height: 800px;
        position: relative;
        top: 0px;
        left: -30px;
    }
}

@media (max-width:780px) {

    .atf-text-container {
        top: 650px;
    }

    .self-portrait {
        height: 500px;
        left: 162px;
        top: 73px;
    }

    .purp-green-clouds {
        height: 600px;
        position: relative;
        top: -113px;
        left: -11px;
    }
}

@media (max-width:575px) {
    .separator {
        top: 390px;
    }

    .self-portrait {
        height: 500px;
        left: 131px;
        top: 156px;
    }

    .purp-green-clouds {
        height: 600px;
        position: relative;
        top: -100px;
        left: -15px;
    }

    .atf-text-container {
        top: 670px;
    }

    .green-btn {
        font-size: 20px;
        margin-top: 30px !important;
    }
}

@media (max-width:480px) {

    .self-portrait {
        left: 100px;
        top: 150px;
    }

    .purp-green-clouds {
        position: relative;
        top: -100px;
        left: -20px;
    }

    .atf-text-container {
        top: 690px;
    }
}

@media (max-width:450px) {

    .self-portrait {
        left: 120px;
        top: 86px;
    }

    .purp-green-clouds {
        left: -10px;
        top: -50px;
    }

    
}

@media (max-width:400px) {

    .self-portrait{
        left: 100px;
        top: 180px;
        height: 350px;
    }

    .purp-green-clouds {
        left: -10px;
        height: 450px;
    }
}


@media (max-width:375px) {

    .self-portrait {
        left: 110px;
        top: 180px;
        height: 350px;
    }

    .purp-green-clouds {
        top: 100px;
    }

    .atf-text-container {
        top: 650px;
    }

    .green-btn {
        font-size: 15px;
        margin-top: 30px !important;
    }
}

@media (max-width:340px) {


    .purp-green-clouds {
        top: -100px;
    }
}