.above-the-fold {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #141D2F;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}


.separator {
    width: 100%;
    left: 0;
    position: absolute;
    top: 320px;
    z-index: 2;
}

.atf-content {
    display: flex;

}

.atf-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    white-space: nowrap;
    z-index: 998;
    position: absolute;
    top: 297px;
    right: 160px;
  
}

.atf-inner-text-container {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 61px;
    font-weight: 400;
    color: #9747FF;
    border-right: 0.15em solid #9747FF;
    animation: blink 0.75s step-end infinite;
    width: max-content;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #9747FF;
    }
}

.introduction-text {
    font-size: 64px;
    transform: rotate(-90deg);
}

p,
h1,
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.self-portrait {
    height: 1000px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 50px;
}

.purp-green-clouds {
    height: 1000px;
    position: absolute;
    z-index: 0;
    top: 200px;
    left: -100px;
}

.scroll-down-text {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 4;
    top: 873px;
    right: 100px;
    gap: 10px;
    transform: rotate(+90deg);
    animation: mymove 2s infinite;

    >p {
        font-size: 23px;
        padding-right: 10px;
    }

    >img {
        height: 16px;
        width: 16px;
        object-fit: cover;
    }
}

@keyframes mymove {
    0% {
        top: 873px;
    }

    25% {
        top: 943px;
    }

    75% {
        top: 923px
    }

    100% {
        top: 873px;
    }
}

@media (max-width:1570px) {
    .atf-text-container {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 45px;
        }

        p {
            font-size: 44px;
        }
    }
}

@media (max-width:1400px) {
    .atf-text-container {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 34px;
        }
    }

    .self-portrait[_ngcontent-ng-c2367562783] {
        height: 600px;
    }

    .purp-green-clouds[_ngcontent-ng-c2367562783] {
        height: 800px;
    }
}

@media (max-width:1100px) {

    .self-portrait[_ngcontent-ng-c1357743221] {
        height: 600px;
        left: 100px;
        top: 90px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        height: 800px;
        position: relative;
        top: 200px;
        left: -100px;
    }
}

@media (max-width:1023px) {
    .atf-text-container {
        top: 650px;
        left: 0;
        right: 0;
    }

    .purp-green-clouds{
        top: -121px;
        left: -26px;
    }

    .self-portrait{
        left: 218px;
        top: 83px;
    }
}

@media (max-width:1000px) {
    .atf-text-container {
        top: 750px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroll-down-text {
        display: none;
    }

    .self-portrait[_ngcontent-ng-c1357743221] {
        left: 180px;
        top: 90px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        top: 100px;
        left: 0px;
    }
}

@media (max-width:920px) {

    .atf-text-container[_ngcontent-ng-c1357743221] {
        top: 700px;
    }

    .self-portrait[_ngcontent-ng-c1357743221] {
        height: 600px;
        left: 120px;
        top: 110px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        height: 800px;
        position: relative;
        top: 100px;
        left: -100px;
    }
}

@media (max-width:780px) {

    .atf-text-container[_ngcontent-ng-c1357743221] {
        top: 650px;
    }

    .self-portrait[_ngcontent-ng-c1357743221] {
        height: 500px;
        left: 120px;
        top: 150px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        height: 600px;
        position: relative;
        top: 120px;
        left: -50px;
    }
}

@media (max-width:575px) {
    .separator[_ngcontent-ng-c1357743221] {
        top: 390px;
    }

    .self-portrait[_ngcontent-ng-c1357743221] {
        height: 400px;
        left: 80px;
        top: 190px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        height: 500px;
        position: relative;
        top: 40px;
        left: -80px;
    }

    .atf-text-container[_ngcontent-ng-c1357743221] {
        top: 650px;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 28px !important;
    }

    p {
        font-size: 28px !important;
    }

    .green-btn {
        font-size: 20px;
        margin-top: 30px !important;
    }
}

@media (max-width:480px) {

    .self-portrait[_ngcontent-ng-c1357743221] {
        height: 400px;
        left: 80px;
        top: 150px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        height: 500px;
        position: relative;
        top: 120px;
        left: -50px;
    }

    .atf-text-container[_ngcontent-ng-c1357743221] {
        top: 650px;
    }
}

@media (max-width:450px) {

    .self-portrait[_ngcontent-ng-c1357743221] {
        left: 40px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        left: -70px;
    }

    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 21px !important;
    }

    p {
        font-size: 21px !important;
    }

    .green-btn {
        font-size: 15px;
        margin-top: 30px !important;
    }
}

@media (max-width:400px) {

    .self-portrait[_ngcontent-ng-c1357743221] {
        left: 40px;
        top: 150px;
        height: 350px;
    }

    .purp-green-clouds[_ngcontent-ng-c1357743221] {
        left: -70px;
        height: 450px;
    }
}


@media (max-width:375px) {

    .self-portrait[_ngcontent-ng-c1357743221] {
        left: 20px;
        top: 150px;
        height: 350px;
    }

    .atf-text-container[_ngcontent-ng-c1357743221] {
        top: 600px;
    }
}