.above-the-fold {
    height: 100vh;
    background-color: #141D2F;
}


.separator {
    width: 100vw;
    position: absolute;
    top: 300px;
    z-index: 2;
}

.atf-content {
    display: flex;
    
}

.text-container{
    display: flex;
    align-items: center;
    position: relative;
    top: -250;
    right: 150px;
    z-index: 999;
}

h1{
    font-size: 90px;
    font-weight: bold;
}

h2{
    font-size: 61px;
    color: #9747FF;
}

p{
    font-size: 75px;
    transform: rotate(-90deg);
}

p,h1,h2{
    margin-block-start: 0;
    margin-block-end: 0;
}

.self-portrait{
    height: 800px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    left: 200px;
}

.purp-green-clouds{
    height: 1000px;
    position: relative;
    z-index: 0;
}