<section id="above_the_fold" class="above-the-fold">
    <div class="atf-content">
        <div>
            <img class="self-portrait" src="../../assets/img/design-components/test.png" alt="">
            <img class="purp-green-clouds" src="../../assets/img/design-components/photo_shadows.png" alt="">
        </div>

        <div class="atf-text-container">
            <div class="atf-inner-text-container">
                <div>
                    <p class="introduction-text">I am</p>
                </div>
                <div style="line-height: 1.1;">
                    <h1>Mark Hegedüs</h1>
                    <h2 id="text"></h2>
                </div>
            </div>
            <a href="#contact"><button style="margin-top: 50px;" class="green-btn">Let's talk!</button></a>
        </div>


    </div>
    <img class="separator" src="../../assets/img/design-components/separator.png" alt="">

    <div class="scroll-down-text">
        <p>Scroll down</p>
        <img style="transform: rotate(-90deg); padding-top: 10px;" src="../../assets/img/design-components/arrow.png" alt="">
        
    </div>
</section>