.contact {
    width: 100vw;
    max-width: 1920px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;
   
    flex-direction: column;
    padding: 100px 0;
}

.contact-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}



.text-area{
    max-width: 473px;
    h1{
        font-size: 90px;
        font-weight: 700;
    }
    h2{
        font-size: 32px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }
}

.purple-line{
    height: 4px;
    width: 50px;
    background-color: #9747FF;
    border-radius: 4px;
}

.contact-headline{
    width: 100%;
    h1{
        font-size: 90px;
        font-weight: 700;
    }
}

.up-btn{
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 989;
}