<section class="contact">

    <div class="contact-headline" style="display: flex; flex-direction: row; align-items: center; gap: 30px;">
        <div class="purple-line"></div>
        <h1>Contact</h1>
    </div>

    <div class="contact-content">
        <div class="text-area">


            <h2>Got a problem to solve?</h2>

            <p>Contact me trough this form, I am interested in hearing from you, knowing your ideas and contributing to
                your
                projects with my work.</p>

            <p>Need a Frontend developer? <b>Contact me!</b></p>

        </div>

        <div>
            <form action="">


                <div>
                    <input class="input-thin" placeholder="Your name" type="text" style="color:white;">
                    <p class="error-message">Your name is requied</p>
                </div>



                <div>
                    <input class="input-thin" placeholder="Your email" type="email">
                    <p class="error-message">Your email is requied</p>
                </div>



                <div>
                    <textarea placeholder="Your message" class="input-thick" name="" id=""></textarea>
                    <p class="error-message">Your message is empty</p>
                </div>



                <div>
                    <div class="privacyP-container">
                        <img src="../../assets/img/design-components/checkbox-unchecked.png" alt="">
                        <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as
                            outlined.
                        </p>
                    </div>
                    <p class="error-message">Please accept the privacy policy.</p>
                </div>

                <button class="green-btn">Send message</button>

            </form>
        </div>

    </div>

    <a class="up-btn" href="#above_the_fold"><img [src]="imgSrc"
        (mouseover)="imgSrc = '../../assets/img/design-components/goup-btn-green.png'"
        (mouseout)="imgSrc = '../../assets/img/design-components/goup-btn.png'"></a>
</section>