<section id="contact"  class="contact">

    <div class="contact-headline" style="display: flex; flex-direction: row; align-items: center; gap: 30px;">
        <div class="purple-line"></div>
        <h1 >Contact</h1>
    </div>

    <div class="contact-content">
        <div data-aos="fade-right" class="text-area">


            <h2>Got a problem to solve?</h2>

            <p>Contact me trough this form, I am interested in hearing from you, knowing your ideas and contributing to
                your
                projects with my work.</p>

            <p>Need a Frontend developer? <b>Contact me!</b></p>

        </div>

        <div>
            <app-contactform></app-contactform>
        </div>

    </div>

    <a class="up-btn" href="#above_the_fold"><img [src]="imgSrc"
        (mouseover)="imgSrc = '../../assets/img/design-components/goup-btn-green.png'"
        (mouseout)="imgSrc = '../../assets/img/design-components/goup-btn.png'"></a>


    <img style="position: absolute; bottom: 0px; left: 0px; height: 500px;" src="../../assets/img/design-components/purple-shadow-bottom-left.png" alt="">
</section>