.contact {
    width: 100vw;
    max-width: 1920px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;
   
    flex-direction: column;
    padding: 100px 0;
}

.contact-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.privacyP-container {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: #9747FF;

        &:hover {
            text-decoration: underline;
        }
    }
}

input,
textarea {
    outline: 2px solid #9747FF;
    border-radius: 12px;
    background-color: #141D2F;
    color: #ffff !important;
    max-width: 617px;
    width: 617px;
    cursor: pointer;
    text-indent: 10px;
    border-style: hidden;
    font-size: 16px;
    &:hover {
        outline: 2px solid #70E61C;
    }
}

::placeholder {
    color: white;
    opacity: 1; 
  }
  
  ::-ms-input-placeholder { 
    color: white;
  }

.error-message {
    display: none;
    margin-block-start: 0;
    margin-block-end: 0;
    color: red;
    font-size: 14px;
}

.input-thin {
    height: 50px;
}

.input-thick {
    height: 202px;
}

.text-area{
    max-width: 473px;
    h1{
        font-size: 90px;
        font-weight: 700;
    }
    h2{
        font-size: 32px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }
}

.purple-line{
    height: 4px;
    width: 50px;
    background-color: #9747FF;
    border-radius: 4px;
}

.contact-headline{
    width: 100%;
    h1{
        font-size: 90px;
        font-weight: 700;
    }
}

.up-btn{
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 989;
}