.contact {
    width: 100%;
    max-width: 1440px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;

    flex-direction: column;
}

.contact-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}



.text-area {
    max-width: 473px;

    h1 {
        font-size: 90px;
        font-weight: 700;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }
}

.purple-line {
    height: 4px;
    width: 50px;
    background-color: #9747FF;
    border-radius: 4px;
}

.contact-headline {
    width: 100%;

    h1 {
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.up-btn {
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 989;
    animation: mymove 0.5s infinite;
}

.shadow {
    position: absolute !important;
    bottom: 0px;
    left: 0px;
    height: 500px;
    z-index: 0 !important;
}

@keyframes mymove {
    0% {
        bottom: 100px;
    }

    25% {
        bottom: 102px;
    }

    50% {
        bottom: 105px;
    }

    75% {
        bottom: 102px;
    }

    100% {
        bottom: 100px;
    }
}

@media (max-width: 1200px) {
    .contact-content[_ngcontent-ng-c3406187909] {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        z-index: 988;
    }

    .text-area[_ngcontent-ng-c3406187909] {
        max-width: 517px;
    }

    .contact[_ngcontent-ng-c3406187909] {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .up-btn[_ngcontent-ng-c3406187909] {
        right: 30px;
        bottom: -30px;
    }

    .contact-headline {
        h1 {
            font-size: 50px;
        }
    }

    .text-area {
        width: 430px !important;
        padding: 0 50px;

        h2 {
            font-size: 25px;
        }
    }

    .input-design[_ngcontent-ng-c1679057741][_ngcontent-ng-c1679057741] {
        width: 417px !important;
    }

    .shadow {
        height: 400px !important;

    }

    .up-btn{
        img{
           height: 30px; 
        }
        
    }
}

@media (max-width: 530px) {
    .text-area {
        width: 330px !important;
        padding: 0 50px;

        h2 {
            font-size: 20px;
        }

        p{
            font-size: 14px;
        }
    }

    .up-btn[_ngcontent-ng-c3406187909][_ngcontent-ng-c3406187909] {
        right: 25px;
    }
}

@media (max-width: 375px) {
    .text-area {
        width: 280px !important;
        padding: 0 20px;

        h2 {
            font-size: 20px;
        }

        p{
            font-size: 12px;
        }
    }
}