
<section class="contact">
    <div>
        <div>
            <div class="purple-line"></div>
            <h1>Contact</h1>
        </div>

        <h2>Got a problem to solve?</h2>

        <p>Contact me trough this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>

        <p>Need a Frontend developer? <b>Contact me!</b></p>
        
    </div>

    <div>
        <form action="">
            <input placeholder="Your name" type="text">
            <input placeholder="Your email" type="email">
            <input placeholder="Your message" type="text">
            <div>
                <img src="../../assets/img/design-components/checkbox-unchecked.png" alt="">
                <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined</p>
            </div>
            <button class="green-btn">Send message</button>
        </form>
    </div>
</section>
