.portfolio {
    width: 100%;
    max-width: 1920px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.portfolio-headline {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100vw;
    max-width: 1920px;
    h1 {
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        font-weight: 400;
        font-size: 16px;
    }
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-element {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1,
    h2,
    p {
        margin-block-start: 0.0;
        margin-block-end: 0.0;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
        color: #9747FF;

    }

    h2 {
        font-size: 23px;
        font-weight: 400;
        color: #70E61C;
    }

    p {
        font-size: 16px;
        line-height: 19.2px;
    }

    img {
        height: 350px;
    }
}

.project-description {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-container {
    display: flex;
    gap: 60px;
}



.purple-line-short {
    width: 109px;
    height: 4px;
    border-radius: 4px;
    background-color: #9747FF;
}

.purple-line-long {
    width: 600px;
    height: 4px;
    border-radius: 4px;
    background-color: #9747FF;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
    width: 100%;
}