.portfolio {
    width: 100%;
    max-width: 1920px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.portfolio-headline {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100vw;
    max-width: 1920px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        font-weight: 400;
        font-size: 16px;
    }
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-element {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    h1,
    h2,
    p {
        margin-block-start: 0.0;
        margin-block-end: 0.0;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
        color: #9747FF;

    }

    h2 {
        font-size: 23px;
        font-weight: 400;
        color: #70E61C;
    }

    p {
        font-size: 16px;
        line-height: 19.2px;
    }

    img {
        height: 350px;
    }
}

.project-description {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-container {
    display: flex;
    gap: 60px;
}



.purple-line-short {
    width: 109px;
    height: 4px;
    border-radius: 4px;
    background-color: #9747FF;
}

.purple-line-long {
    width: 600px;
    height: 4px;
    border-radius: 4px;
    background-color: #9747FF;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
    width: 100%;
}

@media (max-width: 1540px) {
    .purple-line-long {
        width: 500px;
    }
}

@media (max-width: 1340px) {
    .purple-line-long {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .purple-line-long {
        width: 250px;
    }

    .project-element {
        flex-direction: column !important;
        gap: 0px;
    }

    .purple-shadow {
        top: 700px !important;
    }

    .project-description {
        align-items: center !important;
    }
    .portfolio {
        margin: 0;
    }
}


@media (max-width: 900px) {
    .purple-line-long {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .purple-line-long {
        width: 150px;
    }
}

@media (max-width: 750px) {
    .purple-line-long {
        width: 100px;
    }

    .purple-shadow {
        top: 500px !important;
        height: 600px;
    }

    .green-shadow {
        height: 600px;
    }

    .portfolio-headline {
        h1 {
            font-size: 50px;
        }
    }

    .project-element {
        img {
            height: 300px;
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }
    }

    .purple-btn {
        padding: 10px 25px 10px 25px;
    }

    .transparent-btn {
        padding: 10px 25px 10px 25px;
    }
}

@media (max-width: 625px) {
    .project-description {
        width: 400px;
    }

    .project-element {
        img {
            height: 300px;
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
            text-align: center;
           
        }
    }

    .portfolio-headline{
        p {
            text-align: center;
            width: 400px;
        }
    }

    .purple-line-short{
        width: 20px;
    }
}