<section id="portfolio" class="portfolio">
    <div class="portfolio-headline">
        <div class="title-container">
            <div class="purple-line-short"></div>
            <h1>Portfolio</h1>
            <div class="purple-line-long"></div>
        </div>
        <p>{{"portfolio.text" | translate}}</p>
    </div>

    <div class="project-container">
        @for(project of portfolio; track project){
        <div style="flex-direction: {{project.flex_style}}; z-index: 998;" class="project-element" data-aos="fade-left">
            <img src="../../assets/img/project-screenshots/{{project.image}}" alt="">
            <div style="align-items: {{project.alignment}};" class="project-description">
                <h1>{{project.name}}</h1>
                <h2>{{project.techstack}}</h2>
                <p>{{"portfolio." + project.description| translate}}</p>
                <div class="button-container">
                    <a href="{{project.test_link}}" target="_blank"><button class="purple-btn">Live test</button></a>
                    <a href="{{project.github_link}}" target="_blank"><button class="transparent-btn">Github</button></a>
                </div>
            </div>
        </div>
        }
    </div>

    <img class="purple-shadow" style="position: absolute; top: 500px; left: 0px;" src="../../assets/img/design-components/purple-shadow-portfolio.png" alt="">
    <img class="green-shadow" style="position: absolute; bottom: 0px; right: 0px;" src="../../assets/img/design-components/green-shadow-portfolio.png" alt="">
</section>