<section>
    <h1>{{ 'privacyPolicy.title' | translate }}</h1>
    <p>{{ 'privacyPolicy.date' | translate }}</p>
    
    <h2>{{ 'privacyPolicy.tableOfContents' | translate }}</h2>
    <ul class="index">
        <li><a class="index-link" href="#m3">{{ 'privacyPolicy.indexLinks.responsible' | translate }}</a></li>
        <li><a class="index-link" href="#mOverview">{{ 'privacyPolicy.indexLinks.overview' | translate }}</a></li>
        <li><a class="index-link" href="#m2427">{{ 'privacyPolicy.indexLinks.legalBases' | translate }}</a></li>
        <li><a class="index-link" href="#m27">{{ 'privacyPolicy.indexLinks.securityMeasures' | translate }}</a></li>
        <li><a class="index-link" href="#m25">{{ 'privacyPolicy.indexLinks.dataTransfers' | translate }}</a></li>
        <li><a class="index-link" href="#m24">{{ 'privacyPolicy.indexLinks.internationalTransfers' | translate }}</a></li>
        <li><a class="index-link" href="#m12">{{ 'privacyPolicy.indexLinks.dataStorage' | translate }}</a></li>
        <li><a class="index-link" href="#m225">{{ 'privacyPolicy.indexLinks.webHosting' | translate }}</a></li>
        <li><a class="index-link" href="#m134">{{ 'privacyPolicy.indexLinks.cookies' | translate }}</a></li>
        <li><a class="index-link" href="#m182">{{ 'privacyPolicy.indexLinks.contactManagement' | translate }}</a></li>
    </ul>
    
    <h2 id="m3">{{ 'privacyPolicy.responsibleTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.responsiblePerson' | translate }}</p>
    <p>{{ 'privacyPolicy.email' | translate }}</p>
    
    <h2 id="mOverview">{{ 'privacyPolicy.overviewTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.overviewContent' | translate }}</p>
    
    <h3>{{ 'privacyPolicy.dataTypes' | translate }}</h3>
    <ul>
        <li *ngFor="let item of 'privacyPolicy.dataTypesList' | translate">{{ item }}</li>
    </ul>
    
    <h3>{{ 'privacyPolicy.categories' | translate }}</h3>
    <ul>
        <li *ngFor="let item of 'privacyPolicy.categoriesList' | translate">{{ item }}</li>
    </ul>
    
    <h3>{{ 'privacyPolicy.purposes' | translate }}</h3>
    <ul>
        <li *ngFor="let item of 'privacyPolicy.purposesList' | translate">{{ item }}</li>
    </ul>
    
    <h2 id="m2427">{{ 'privacyPolicy.legalBasesTitle' | translate }}</h2>
    <p [innerHTML]="'privacyPolicy.legalBasesContent' | translate"></p>
    
    <h2 id="m27">{{ 'privacyPolicy.securityMeasuresTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.securityMeasuresContent' | translate }}</p>
    
    <h2 id="m25">{{ 'privacyPolicy.dataTransfersTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.dataTransfersContent' | translate }}</p>
    
    <h2 id="m24">{{ 'privacyPolicy.internationalTransfersTitle' | translate }}</h2>
    <p [innerHTML]="'privacyPolicy.internationalTransfersContent' | translate"></p>
    
    <h2 id="m12">{{ 'privacyPolicy.dataStorageTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.dataStorageContent' | translate }}</p>
    
    <h2 id="m225">{{ 'privacyPolicy.webHostingTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.webHostingContent' | translate }}</p>
    
    <h2 id="m134">{{ 'privacyPolicy.cookiesTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.cookiesContent' | translate }}</p>
    
    <h2 id="m182">{{ 'privacyPolicy.contactManagementTitle' | translate }}</h2>
    <p>{{ 'privacyPolicy.contactManagementContent' | translate }}</p>
    
    <p class="seal">
        <a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">{{ 'privacyPolicy.seal' | translate }}</a>
    </p>
    
<a class="up-btn" href="#contact"><img [src]="imgSrc"
    (mouseover)="imgSrc = '../../assets/img/design-components/goup-btn-green.png'"
    (mouseout)="imgSrc = '../../assets/img/design-components/goup-btn.png'">
</a>  
</section>
