
section{
    width: 100%;
    max-width: 1920px !important;  
    padding: 0 100px; 
    box-sizing: border-box;
}

.up-btn{
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 989;
    transform: rotate(-90deg);
}