section{
    padding: 100px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.up-btn{
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 989;
    transform: rotate(-90deg);
}