<section>
    <div class="impressum-content">
        <h1>{{ 'impressum.title' | translate }}</h1>
        <p>{{ 'impressum.lawReference' | translate }}</p>
        <p>{{ 'impressum.name' | translate }}<br>
            {{ 'impressum.address' | translate }}<br>
        </p>
        <p><strong>{{ 'impressum.representedBy' | translate }}</strong><br>
            {{ 'impressum.name' | translate }}<br>
        </p>
        <p><strong>{{ 'impressum.contact' | translate }}</strong><br>
            {{ 'impressum.phone' | translate }}<br>
            {{ 'impressum.email' | translate }}<a href="{{ 'impressum.emailLink' | translate }}">mail&#64;mark-hegedus.com</a></p>
        <p><strong>{{ 'impressum.disclaimerTitle' | translate }}</strong><br><br><strong>{{ 'impressum.linkLiability' | translate }}</strong><br><br>
            {{ 'impressum.linkLiabilityText' | translate }}<br><br><strong>{{ 'impressum.privacyTitle' | translate }}</strong><br><br>
            {{ 'impressum.privacyText' | translate }}<br>
        </p>
        <p><strong>{{ 'impressum.googleAnalyticsTitle' | translate }}</strong><br><br>
            {{ 'impressum.googleAnalyticsText' | translate }}</p><br>
        <p>{{ 'impressum.generatorLink' | translate }} <a href="{{ 'impressum.generatorUrl' | translate }}">impressum-generator.de</a></p>
    </div>
    
        <a class="up-btn" href="#contact"><img [src]="imgSrc"
            (mouseover)="imgSrc = '../../assets/img/design-components/goup-btn-green.png'"
            (mouseout)="imgSrc = '../../assets/img/design-components/goup-btn.png'">
        </a>     
</section>