.my-skills{
    width: 100%;
    max-width: 1920px !important;
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.skills-container {
    display: flex;
    max-width: 750px;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 100px;
    justify-content: start;
    position: relative;
    z-index: 998;
}


.green-shadow{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.skills-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 150px;

    >img {
        height: 60px;
        cursor: pointer;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        &:hover {
            animation-name: bounce;
        }
    }
}

.purple-line {
    width: 180px;
    height: 4px;
    background-color: #9747FF;
}

.skills-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    >div {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: end;
        width: 100%;
    }
    p{
        text-align: center;
    }

}

h1 {
    font-size: 90px !important;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 16px;
}


@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}