<div style="padding-bottom: 50px;" id="my_skills"></div>
<section  class="my-skills">

    <a class="mobile-button" href="#contact"><button class="green-btn">{{'mySkills.button' | translate}}</button></a>

    <div data-aos="fade-right" class="skills-container">
        @for(technology of technologies; track technology){
          <div class="skills-elements">
            <img src="../../assets/img/design-components/{{technology.path}}" alt="">
            <p>{{technology.name}}</p>
        </div>  
        }
    </div>

    <div data-aos="fade-left" class="skills-text-container">
        <div>
            <h1 class="skills-text-container-headline">{{"mySkills.headline" | translate}}</h1>
            <div class="purple-line"></div>
        </div>
        <p>{{"mySkills.text" | translate}}</p>
        <a class="desktop-button" href="#contact"><button class="green-btn">{{'mySkills.button' | translate}}</button></a>
    </div>
    
    <img class="green-shadow" src="../../assets/img/design-components/green-shadow.png" alt="">
</section>