@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: regular;
}

* {
    color: white;
    scrollbar-color: #141D2F #9747FF;
}

html{
    scroll-behavior: smooth;
    margin: auto;
}

html, body {
    height: 100%;   
}

body {
    margin: 0 auto;
    background-color: #141D2F;
    font-family: 'Poppins';
    overflow-x: hidden;
    display: table;
}


.green-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #70E61C;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: #9747FF;
        transform: scale(1.2);
    }
}

.purple-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #9747FF;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;

    &:hover {
        background-color: #70E61C;
    }

}

.transparent-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid #70E61C !important;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;

    &:hover {
        background-color: #70E61C;
    }

}