

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

*{
    color: white;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    margin: 0;
    background-color: #141D2F;
    font-family: 'Poppins';
    overflow: hidden;
    
}
