@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: regular;
    font-style: regular;
}

* {
    color: white;
}

body {
    max-width: 1920px;
    margin: 0;
    box-sizing: border-box;
    background-color: #141D2F;
    font-family: 'Poppins';
    overflow-x: hidden;
}


.green-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #70E61C;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: #9747FF;
        transform: scale(1.2);
    }
}

.purple-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: #9747FF;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;

    &:hover {
        background-color: #70E61C;
    }

}

.transparent-btn {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid #70E61C;
    gap: 10px;
    font-size: 23px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-width: 0;

    &:hover {
        background-color: #70E61C;
    }

}